if TARGET_AX620E_NAND

config SYS_BOARD
	default "ax620e_nand"

config SYS_VENDOR
	default "axera"

config SYS_CONFIG_NAME
	default "ax620e_nand"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y


endif
