/*
 * (C) Copyright 2020 AXERA Co., Ltd
 *
 * SPDX-License-Identifier:     GPL-2.0
 */

/dts-v1/;
#include <dt-bindings/pwm/pwm.h>
#include "ax620e.dtsi"

/ {
	model = "AXERA AX620E_emmc NanoAgent Board";
	compatible = "AXERA,AX620E", "axera,ax620e";

	chosen {
		stdout-path = &uart3;
	};

	emmc: mmc@1B40000 {
		compatible = "axera,ax620e-sdhc";
		reg = <0x0 0x1B40000 0x0 0x1000>;
		interrupts = <0 9 4>;
		bus-width = <8>;
		sdhci-caps-mask = <0x2 0x03200000>;
		sdhci-caps = <0x0 0x00040000>;
		non-removable;
		cdns,phy-input-delay-sd-highspeed = <2>;
		cdns,phy-input-delay-legacy = <4>;
		cdns,phy-input-delay-sd-uhs-sdr12 = <1>;
		cdns,phy-input-delay-sd-uhs-sdr25 = <2>;
		cdns,phy-input-delay-sd-uhs-sdr50 = <1>;
		cdns,phy-input-delay-sd-uhs-ddr50 = <2>;
		cdns,phy-input-delay-mmc-legacy = <1>;
		cdns,phy-input-delay-mmc-highspeed = <2>;
		cdns,phy-input-delay-mmc-ddr = <2>;
		cdns,phy-dll-delay-sdclk = <0>;
		cdns,phy-dll-delay-sdclk-hsmmc = <23>;
		cdns,phy-dll-delay-strobe = <18>;
		status = "okay";
	};

	sd: mmc@104E0000 {
		compatible = "axera,ax620e-sdhc";
		reg = <0x0 0x104E0000 0x0 0x1000>;
		interrupts = <0 74 4>;

		bus-width = <4>;
		cap-sd-highspeed;
		/*sd-uhs-sdr12;
		sd-uhs-sdr25;
		sd-uhs-sdr50;*/
		no-sdio;
		no-mmc;
		disable-wp;
		no-1-8-v;
		broken-cd;

		cdns,phy-input-delay-sd-highspeed = <2>;
		cdns,phy-input-delay-legacy = <3>;
		cdns,phy-input-delay-sd-uhs-sdr12 = <3>;
		cdns,phy-input-delay-sd-uhs-sdr25 = <2>;
		cdns,phy-input-delay-sd-uhs-sdr50 = <0>;
		cdns,phy-input-delay-sd-uhs-ddr50 = <0>;
		cdns,phy-dll-delay-sdclk = <0>;

		status = "okay";
	};

	eth0: ethernet@0x104C0000{
		compatible = "axera,ax620e-eqos";
		status = "okay";
	};
};

&spi2 {
	cs-gpio = <&port1a 27 0>;
    status = "okay";

	panel_spi@0 {
		compatible = "sipeed,for_st7789p3";
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;
		spi-max-frequency = <20000000>;
		reg = <0>;    /*SPI channel 0*/
		/* spi_addr delay cmd_len cmd data */
		panel-init-seq = [
			FF 78 01 11
			FF 00 02 3A 05
			FF 00 06 B2 0C 0C 00 33 33
			FF 00 01 20
			FF 00 02 B7 05
			FF 00 02 BB 21
			FF 00 02 C0 2C
			FF 00 02 C2 01
			FF 00 02 C3 15
			FF 00 02 C6 0F
			FF 00 02 D0 A7
			FF 00 03 D0 A4 A1
			FF 00 02 D6 A1
			FF 00 0F E0 F0 05 0E 08 0A 17 39 54 4E 37 12 12 31 37
			FF 00 0F E1 F0 10 14 0D 0B 05 39 44 4D 38 14 14 2E 35
			FF 00 04 E4 23 00 00
			FF 00 01 21
			FF 00 01 29
		];
		dc = <1 19 1>;
		rst = <0 31 0>;
		bl = <0 30 1>;
	};
};

&uart3 {
	status = "okay";
};
