numpy
flask
paho-mqtt
opuslib
scipy
requests
pyaudio
smbus2
onnxruntime
aiohttp
transformers
psutil
setuptools
webrtcvad
ftfy
toml
websockets
aiofiles
appdirs
asn1crypto
async-timeout
bottle
cffi
chardet
click
colorama
cryptography
python-dateutil
hidapi
idna
mako
marshmallow
more-itertools
multidict
netifaces
packaging
passlib
pillow
ply
pycparser
pyelftools
pyghmi
pygments
pyparsing
semantic-version
setproctitle
six
spidev
systemd-python
tabulate
urllib3
wrapt
xlib
pyyaml
yarl
pyotp
qrcode
dbus-python
async_lru
dbus-next
zstandard
evdev
pyusb
ruamel.yaml
python-periphery
pyserial
pyserial-asyncio
python-pam
pyrad
python-ldap
pyudev
PyGObject==3.50.0
flask-cors>=6.0.1
Flask-SocketIO==5.5.1
openai>=1.107.3
dashscope>=1.24.5