opencv-python-headless
numpy
pillow
flask
paho-mqtt
opuslib
scipy
requests
pyaudio
smbus2
onnxruntime
aiohttp
torch>=2.4.0
torchvision>=0.19.0
transformers>=4.57.1
psutil
setuptools
webrtcvad
ftfy
toml
websockets
qwen-vl-utils>=0.0.14
kaldi-native-fbank
librosa==0.9.1
sentencepiece
fastapi
emoji
asr-decoder
online-fbank
uvicorn
diffusers
soxr