opencv-python-headless==4.12.0.88
numpy==2.2.6
pillow==12.0.0
flask==3.1.2
paho-mqtt==2.1.0
opuslib==3.0.1
scipy==1.16.3
requests==2.32.5
pyaudio==0.2.14
smbus2==0.6.0
onnxruntime==1.23.2
aiohttp==3.13.2
torch==2.9.1
torchvision==0.24.1
transformers==4.57.3
psutil==7.2.1
setuptools==80.9.0
webrtcvad==2.0.10
ftfy==6.3.1
toml==0.10.2
websockets==15.0.1
qwen-vl-utils==0.0.14
kaldi-native-fbank==1.22.3
librosa==0.9.1
sentencepiece==0.2.1
fastapi==0.128.0
emoji==2.15.0
asr-decoder==0.1.1
online-fbank==0.0.4
uvicorn==0.40.0
diffusers==0.36.0
soxr==1.0.0
